
div#background{
    min-height: 100vh;
    background-color: white;
}

img#article-photo{
    max-width: 600px;
    object-fit: contain;
    border-radius: 1%;
    padding-bottom: 6%;
    margin: auto;

}

h1{
    font-size: xx-large;
}

h2{
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
}

.spacer{
    padding-top: 20%;
}

body{
    background-image: none;
}


div#foreground{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 90vw;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    padding-top: 13vh;
    padding-bottom: 8%;
}

div#title{
    margin-left: auto;
    margin-right: auto;
}

div#article-main{
    
    padding-top: 5%;
    max-width: 600px;
}

.socials li,a{
    display: inline-block;
    padding: 2px 25px;
    white-space: nowrap;
    align-self: center;
    text-decoration: none;
}

footer#footer2{
    background-color: black;
    width: 100%;
    padding: 1%;
}


@media (any-pointer: coarse) or (hover: none) or (handheld){
    img#article-photo{
        max-width: 600px;
        object-fit: contain;
        border-radius: 1%;
        padding-bottom: 6%;
        margin: auto;
    
    }
    html {zoom: 100%;} 
    #my{ zoom: 100%; }
    div#article-main{
        width: 100%;
        margin: 0%;
    }
    .socials li,a{
        padding: 2px 15px;
    }
    img#icon{
        width: 25px;
    }
    
    img#wnn{
        width: 50px;
        height: 50;
        object-fit: contain;
    }

    img#article-photo{
        max-width: 90vw;
        }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    html {zoom: 100%;} 
    #my{ zoom: 100%; }
    
    div#article-main{
        width: 100%;
        margin: 0%;
    }
    .socials li,a{
        padding: 2px 15px;
    }
    img#icon{
        width: 35px;
    }
    
    img#wnn{
        width: 70px;
        height: 50;
        object-fit: contain;
    }

    img#article-photo{
        max-width: 90vw;
        }
        
        p{
            font-size: 1.2rem;
        }
  }

  @media screen and (min-width: 1000px) {
    /*this css will only be used when the screen size is min 1000px*/
    div#article-main{
        max-width: 800px;
    }
    img#article-photo{
        width: 800px;
    
    }

    h2{
        max-width: 800px;
        word-wrap: break-word;
        white-space: normal;
    }

    p{
        font-size: 1.5rem;
    }
    
}