

#header-content{
    max-width: 1000px;
}


div#background{
    min-height: 100vh;
    background-color: white;
    width: 100%;
}

#article-title, #article-title2{
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    color: darkblue;
    font-weight: bold;
}

#article-photo, #article-photo2{
    width: 800px;
    max-height:540px ;
    object-fit: cover;
    border-radius: 1%;
    padding-bottom: 6%;
    margin: auto;

}

.article-text{
    line-height: 28pt;
    margin: 2px 0px 15px;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
    position: static;
    top: 0%;
    height: 100%;
    overflow-y: scroll;
}
  

h1:hover{
    color: rgba(0, 136, 169, 0.8);
}

h2{
    max-width: 800px;
    word-wrap: break-word;
    white-space: normal;
}

.spacer{
    padding-top: 20%;
}

#spacer2{
    padding-top: 20%;
}

body{
    background-image: none;
}


div#foreground{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 90vw;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 8%;
}

div#article-main{
    max-width: 800px;
    padding-top: 5%;
}

p{
    font-size: 1.5rem;
}

#background{
    width: 100vw;
}

.scroll{
    display: none;
}

.footer2{
    display: flex;
    background-color: rgba(0, 11, 33, 0.875);
}

#main-footer{
    position: relative;
    filter: drop-shadow(0px -2px 3px #25253700);
}



@media ((any-pointer: coarse) or (hover: none)) or ((handheld) or (max-width: 760px) or (orientation:portrait)){

    div#foreground{
        padding-top: 14vh;
    }

    img#article-photo, #article-photo2{
        max-width: 90vw;
        object-fit: contain;
        border-radius: 1%;
        padding-bottom: 6%;
        margin: auto;
    
    }

    h2{
        font-size: 26px;
    }
    
    div#article-main{
        width: 100%;
        margin: 0%;
    }

    #nav-text{
        display: none;
    }

    p{
        font-size: 1.1rem;
    }

    .scroll{
        padding-top: 13%;
        display: block;
        font-size:small;
        font-size:small;
        margin: auto;
        color: rgba(89, 89, 89, 0.647);
    }
    #editors{
        font-size: 1.15rem;
    }

    h1{
        font-size:xx-large;
    }

    /*Footer and Icons*/
    a.socials{
        padding-left: 7%;
        padding-right: 7%;
        display: inline-block;
    }

     #icon{
        font-size: 25px;
    }

     footer{
        padding-top: 3.5%;
        padding-bottom: 3.5%;
     }

     #main-footer{
        position: relative;
        
    }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    div#foreground{
        padding-top: 14vh;
    }

    img#article-photo, #article-photo2{
        max-width: 90vw;
        object-fit: contain;
        border-radius: 1%;
        padding-bottom: 6%;
        margin: auto;
    
    }

    h2{
        font-size: 26px;
    }
    
    div#article-main{
        width: 100%;
        margin: 0%;
    }

    #nav-text{
        display: none;
    }

    p{
        font-size: 1.1rem;
    }

    .scroll{
        padding-top: 13%;
        display: block;
        font-size:small;
        font-size:small;
        margin: auto;
        color: rgba(89, 89, 89, 0.647);
    }
    #editors{
        font-size: 1.15rem;
    }

    h1{
        font-size:xx-large;
    }

    /*Footer and Icons*/
    a.socials{
        padding-left: 7%;
        padding-right: 7%;
        display: inline-block;
    }

     #icon{
        font-size: 25px;
    }

     footer{
        padding-top: 3.5%;
        padding-bottom: 3.5%;
     }

     #main-footer{
        position: relative;
        
    }
}

    
    