@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img#section-photo{
    width: 600px;
    object-fit: contain;
    border-radius: 1%;
    padding-bottom: 1%;
    max-width: 90vw;
    margin: auto;
    align-self: center;

}

.date{
    color: gray;
    padding-bottom: 4%;
    align-self: flex-start  ;
}

p{
    max-width: 600px;
    font-size: 1.2rem;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    word-wrap: break-word;
    white-space: normal;

}

.read-more{
    max-width: 600px;
    font-size: 1.2rem;
    padding: 0%;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    white-space: nowrap;
}

h2, h3, h4, h5{
    max-width: 600px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    color: darkblue;    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    color: #edf0f1;
    text-decoration: none;
}

h1{
    color: #edf0f1;
    white-space: nowrap;
    font-size: 2.2rem;
    font-family: 'Cormorant Garamond', serif;
}


#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111c55;
}

header{
    display: flex;
    align-items: center;
    background-color:#030615;
    align-self: stretch;
    flex-direction: column;
    object-fit: scale-down;
    padding: 7px 0.1p;
}

#article-head2{
    width: 100%;
    display: flex;
    /*background-color:#030615;*/
    background-color:#181818;
    flex-direction: row;
    padding: 7px 0.1p;
    padding-top: 7px;
    justify-content: space-around;
}

div#section-sports, div#section-pop, div#section-voices, div#section-events{
    max-width: 610px;
    padding-top: 5%;
    margin: auto;
    background-color: white;
    align-self: center;
    align-items: center;
    align-content: center;
}

div#section-events{
    padding-bottom: 10%;
}

#name{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#wpw-icon{
    width: 50px;
    margin-left: 15px;
}
div#main{
    align-self: center;
    display: none; /*flex*/ 
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

body{
    background-color: #e0e0e0;
    
}

.gallery-container{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 6%;
    padding: 2%;
    align-self: center;
    align-items: center;
    max-width: 90%;
    height: 79vh;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 0px;
    
}

div#first-section, div#last-section, div#mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sub-container{
    background-size: cover;
    border-radius: 2%;
    background-position: center;
    padding: auto;
    background-image: linear-gradient(#e66465, #9198e5);
}

.sub-container#bottom-container, .sub-container#top-container{
    width: 93%;
    height: 60%;
}

#bottom-container{
    margin-top: 4%;
}

.sub-container:hover,
.sub-container:focus{
  transform: translate(-4px, -4px);
  
  /*box-shadow: 1px 1px black;*/
}

.gal-text{
    align-self: center;
    color: white;
}

#nav-text{
    max-width: 90%;
    align-self: right;
    margin-left: 10%;
}

.navigation{
    
    padding: 5px 20px;
    align-self: center;
    max-width: 90%;
}

.nav-icons{
    display: none;
}

.nav-icons:hover{
    color: #0088a9;
}


i{
    padding-left: 3px;
    padding-right: 3px;
}
.navigation:hover{
    color: #0088a9;
}



.socials{
    font-size: 250px;
}

nav{
    display: inline-block;
    white-space: nowrap;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #24252a;
}

#foot{
    width: 100%;
    max-width: 700px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* if device has a touch screen */
@media ((any-pointer: coarse) or (hover: none)) or ((handheld) or (max-width: 707px)){
    html {zoom: 100%;} 
    #my{ zoom: 100%;}

    /*Header and Navigation*/
    #article-head2{
        flex-direction: row;
        display: flex;
        white-space: nowrap;
        padding: 7px, 3%;
    }

    #nav-text{
        display: none;
    }

    .nav-icons:hover{
        filter: invert(44%) sepia(44%) saturate(7412%) hue-rotate(168deg) brightness(90%) contrast(104%);
    }
    .nav-icons{
        width: 25px;
        display: inline-block;  
    }

     .navigation{
         padding: 5px 5px;
         font-size: 13px;
         
     }


     /*Date and Title*/
     .date{
         font-size: 0.8rem;
         padding-top: 6%;
         padding-bottom: 7%;
     }
 
     h1{
         font-size:xx-large;
     }


     /*Text, Article and Article Links*/
     div#section-sports, div#section-pop, div#section-voices, div#section-events{
        max-width: 90vw;
        padding-bottom: 12%;
     }
     p, .read-more{
        font-size: 1rem;
        line-height: 16pt;
        word-wrap: break-word;
        white-space: normal;
     }
     .readmore-div{
        padding-top: 2%;
     }


     /*Footer and Icons*/

     #icon{
        font-size: 25px;
    }

     footer{
        padding-top: 3.5%;
        padding-bottom: 3.5%;
     }

     .gallery-container{
    
        display: grid;
        grid-template-columns:none;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0px;
        /*border: 1px solid #000000;*/
        
    }
    div#first-section, div#last-section, div#mid-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    #gallery-photo{
        border-radius: 2%;
        width: 48.5%;
        height: 80%;
        object-fit: cover;
    
    }

    .bottom-photo{
        margin-top: 0%;
        margin-left: 2%;
    }
    

}



@media screen and (min-width: 707px) {
    /*this css will only be used when the screen size is min 1000px*/
    div#section-sports, div#section-pop, div#section-voices, div#section-events{
        max-width: 810px;
    }
    img#section-photo{
        width: 700px;
    
    }

    h2{
        max-width: 800px;
        word-wrap: break-word;
        white-space: normal;
    }

    p , .read-more, #foot{
        font-size: 1.3rem;
        max-width: 700px;
    }

    footer{
        padding: 1% 20%;
    }
    
}