@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img#section-photo{
    width: 600px;
    object-fit: contain;
    border-radius: 1%;
    padding-bottom: 1%;
    max-width: 90vw;
    margin: auto;
    align-self: center;

}

.date{
    color: gray;
    padding-bottom: 4%;
    align-self: flex-start  ;
}

p{
    max-width: 600px;
    font-size: 1.2rem;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    word-wrap: break-word;
    white-space: normal;

}

.read-more{
    max-width: 600px;
    font-size: 1.2rem;
    padding: 0%;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    white-space: nowrap;
}

h2, h3, h4, h5{
    max-width: 600px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    color: darkblue;    
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    color: #edf0f1;
    text-decoration: none;
}

h1{
    color: #edf0f1;
    white-space: nowrap;
    font-size: 2.7rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Cormorant Garamond', serif;
}


#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111c55;
}



header{
    display: flex;
    align-items: center;
    background-color:#030615;
    align-self: stretch;
    flex-direction: column;
    object-fit: scale-down;
    padding: 7px 0.1p;
}

#article-head2{
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#030615;
    flex-direction: column;
    padding: 7px 0.1p;
    justify-content: space-around;
}

div#section-sports, div#section-pop, div#section-voices, div#section-events{
    max-width: 610px;
    padding-top: 5%;
    margin: auto;
    background-color: white;
    align-self: center;
    align-items: center;
    align-content: center;
}

div#section-events{
    padding-bottom: 10%;
}

div#main{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

#nav-text{
    max-width: 90%;
}

.navigation{
    
    padding: 5px 30px;
    align-self: center;
    max-width: 90%;
}

.nav-icons{
    display: none;
}

.nav-icons:hover{
    color: #0088a9;
}


i{
    padding-left: 3px;
    padding-right: 3px;
}
.navigation:hover{
    color: #0088a9;
}

.socials li,a{
    display: inline-block;
    align-self: center;
    text-decoration: none;
}

a.socials{
    padding-left: 1%;
    padding-right: 1%;
}

#icon{
    font-size: 30px;
}

nav{
    display: inline-block;
    white-space: nowrap;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #24252a;
}

#foot{
    width: 100%;
    max-width: 700px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* if device has a touch screen */
@media ((any-pointer: coarse) or (hover: none)) or ((handheld) or (max-width: 707px)){
    html {zoom: 100%;} 
    #my{ zoom: 100%;}

    /*Header and Navigation*/
    #article-head2{
        flex-direction: row;
        display: flex;
        white-space: nowrap;
        padding: 7px, 3%;
    }

    #nav-text{
        display: none;
    }

    #nav-icons{
        margin-top: 6px;
        margin-bottom: 3px;

    }
    .nav-icons:hover{
        filter: invert(44%) sepia(44%) saturate(7412%) hue-rotate(168deg) brightness(90%) contrast(104%);
    }
    .nav-icons{
        width: 25px;
        display: inline-block;  
    }

     .navigation{
         padding: 5px 5px;
         font-size: 13px;
         
     }


     /*Date and Title*/
     .date{
         font-size: 0.8rem;
         padding-top: 6%;
         padding-bottom: 7%;
     }
 
     h1{
         font-size:xx-large;
     }


     /*Text, Article and Article Links*/
     div#section-sports, div#section-pop, div#section-voices, div#section-events{
        max-width: 90vw;
        padding-bottom: 12%;
     }
     p, .read-more{
        font-size: 1rem;
        line-height: 16pt;
        word-wrap: break-word;
        white-space: normal;
     }
     .readmore-div{
        padding-top: 2%;
     }


     /*Footer and Icons*/
     a.socials{
        padding-left: 7%;
        padding-right: 7%;
        display: inline-block;
    }

     #icon{
        font-size: 25px;
    }

     footer{
        padding-top: 3.5%;
        padding-bottom: 3.5%;
     }

}

@media screen and (min-width: 707px) {
    /*this css will only be used when the screen size is min 1000px*/
    div#section-sports, div#section-pop, div#section-voices, div#section-events{
        max-width: 810px;
    }
    img#section-photo{
        width: 700px;
    
    }

    h2{
        max-width: 800px;
        word-wrap: break-word;
        white-space: normal;
    }

    p , .read-more, #foot{
        font-size: 1.3rem;
        max-width: 700px;
    }

    h1{
        font-size: 2.7rem;
    }

    footer{
        padding: 1% 20%;
    }
    
}