*{
    margin: 0%;
    padding: 0%;
}

html{
    min-height: 100vh;
}



#container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}



h1{
    color: azure;
    align-self: center;
    margin: auto;
    font-size: x-large;
}

#background{

    width: 100%;
    min-height: 200vh; /*change back to 100%*/
    background-color:#f5f7f8;
    display: grid;
}

#content{

    display: inline-block;
    align-self: center;
    width: 93%;
    height: 93%;
    background-color: white;
    margin: auto;
    border-radius: 0.7%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);


    
}
