*{
    margin: 0%;
    padding: 0%;
}

html{
    min-height: 100vh;
    overflow-y: auto;
    position: relative;
}

header{
    flex-direction: row;
    white-space: nowrap;
    position: fixed;
    justify-content: space-around;
    z-index: 1;
    background-color:#181818;
}

h1{
    color: azure;
    align-self: center;
    margin: auto;
    font-size: x-large;
}

#background{
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    width: 100%;
    min-height: 200vh; /*change back to 100%*/
    background-color:#f5f7f8;
}

.forms{

    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 88%;
    min-height: 10%; /*THIS IS WHY ITS HIDDEN*/
    background-color: white;
    margin-bottom: 5%;
    border-radius: 0.7%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);

    
}

form{
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    all: unset;
}