*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    flex-direction: row;
    white-space: nowrap;
    object-fit: scale-down;
    position: fixed;
    width: 100%;
    /*position: fixed;*/
    justify-content: space-around;
    z-index: 1;
    /*background-color:#030615;*/
    background-color:#181818;
    filter: drop-shadow(0px 2px 3px #000000);

}
#header-content{
    width: 90vw;
    max-width: 1550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title{
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) ;
    grid-gap: 10px;
}
#wpw-icon{
    width: 50px;
    align-self: center;
}
.navigation{
    padding: 5px;
}
.mobile-navigation{
    padding: 5px;
    color: black;
    transition-duration: 0.5ms;
    transition: all;
}

.mobile-navigation:hover{
    color: grey;
}


#nav-text{
    display: flex;
    width:100%;
    max-width: 600px;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
}

#mobile-nav-text{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 600px;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
    padding: auto;
    margin: auto;
}

.navigation:hover{
    color: #0088a9;
}
nav{
    display: inline-block;
    white-space: nowrap;
}

a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    color: #edf0f1;
    text-decoration: none;
}

#mobile-menu-button{
    display: none;
}
a#email{
    all: unset;
    color: blue;
    text-decoration: underline;
}
button{
    margin-top: 1%;
    color: #313131;
    border-width: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
}

button:hover{
    background-color: #9a9999;
}
h1{
    color: azure;
    align-self: center;
    margin: auto;
    font-size: x-large;
}

h2{
    all:none;
}

h2{
    color: rgb(0, 21, 255);
    align-self: center;
    margin: auto;
    font-size: x-large;
    padding-bottom: 15px;
}


#background{
    padding-top: 9%;
    width: 100%;
    min-height: 200vh; /*change back to 100%*/
    background-color:#f5f7f8;
    background-image: url("../images/Admin2.jpg");
    background-attachment: fixed;
    
}

#foreground{
    width: 88%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, fit-content);
    gap: 7px;
}

#rules{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    margin: auto;
    width: 88%;
    margin-bottom: 3%;
}

#fp{
    font-size: large;
    font-weight:600;
    text-align: center;
}

#title1, #title2, #editors{
    text-align: center;
    font-size: 1rem;
}

textarea{
    font-size: 1rem;
}

.submitChanges{
    height: 100%;
    margin: 0%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #cdcdcd;
    font-size: 18px;
}
.cancelChanges{
    height: 100%;
    margin: 0%;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #cdcdcd;
    font-size: 18px;
    display: none;
}

#fpInput{
    grid-column-start:1 ;
    grid-column-end: 3;
}

#edInput{
    grid-column-start:1 ;
    grid-column-end: 3;
}

input#admin-input, input#password-input{
    margin: auto;
    width: 80%;
}
#loginForm{
    gap: 15px;
}

input{
    display: block;
    width:60%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid gray;
}

.inputArea{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin-bottom: 0%;  
    border-radius:2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.348);

}

.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    resize: none;
    width: 80%;
    margin: auto;
}

form{
    display: grid;
    grid-template-columns: fit;
    grid-gap: 0px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.input{
    display: grid;
    grid-template-columns: fit;
    grid-gap: 0px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#login{
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
}

#close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#login:hover{
    background: #34495e;
    color: #fff;
}

#popup{
    background: rgba(0,0,0,0.6);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.7s;
}

#mobile-menu-popup{
    background: rgba(0,0,0,0.6);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.7s;
}

.popup-content{
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

#popup-content{
    height: 300px;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: auto;
    border-radius: 5px;
    position: relative;
    display: flex;
}



@media ((any-pointer: coarse) or (hover: none) or (orientation:portrait)) /*or ((handheld) or (max-width: 760px) or )*/{
    #background{
        padding-top: 30%;
    }

    #foreground{
        margin: auto;
    }

    #nav-text{
        display: none;
    }
    #mobile-menu-button{
        display: inline;
        background-size: contain;
        background-color: #ad545400;
        color: #ad545400;
        border: none;
        height: fit-content;
        transition:0.25s ;
    }
    #menu-button{
        background-size: contain;
        height: 40px;
        width: auto;
    }

    #mobile-menu-button:hover{
        color: #000000;
        opacity: 0.7;
    }
    header{
        position: fixed;
    }
}

@supports (-webkit-touch-callout: none){
    #background{
        padding-top: 30%;
    }
}