*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/Admin.jpg);
    background-size:cover;
    background-attachment:fixed;
    background-color: #ccc;
    font-family: sans-serif;
}

#login{
    width: 450px;
    background-color: rgba( 0, 0, 0, 0.94);
    margin:12% auto;
    padding:50px 0; 
    color:#fff;
    box-shadow: 0 0 20px rgba(0,0,0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #ccc;
}

#login-btn, #reset-btn, #logout-btn{
    margin: 20px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 15px;
}

#login-btn, #logout-btn{
    width: 40%;
}

#log-buttons{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 90%;
    justify-content: space-around;

}

@media (any-pointer: coarse) or (hover: none) or (handheld){
    #login{
        width: 90%;
    }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    #login{
        width: 90%;
    }
    
  }